<footer class="footer">
    <div class="container-fluid">
        <nav class="float-left">
            <ul>
                <li>
                    <a href="https://www.creative-tim.com">
                        My Platform
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made  by <a href="https://www.facebook.com/mohamedrami.aouinti" target="_blank">Mohamed Rami Aouinti</a> .
        </div>
        <!-- your footer here -->
    </div>
</footer>